@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.bodyItem {
    font-family: 'kanit';
    font-weight: 500;
    font-size: 26px;
    color: #252525;
    text-align: center;
    padding-top: 40px;
}

.bodyItem.night {
    color: white;
}

.searchInput {
    width: 595px;
    height: 38px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    font-family: "inter";
    font-weight: 500;
    font-size: 16px;
    color: #C3C1E5;
    padding-left: 15px;
    position: relative;
}

.searchInput:focus {
    color: #252525;
    border: 1px solid #6C63FF;
}

.sendBtn {
    width: 64px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #6C63FF;
    font-family: 'kanit';
    font-weight: 500;
    font-size: 18px;
    color: #F7F7F7;
    cursor: pointer;
}

.themeChangeBtn {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #6C63FF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms all ease;
}

.searchBox {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
}

.searchSvg {
    position: absolute;
    right: 580px;
}

body.night {
    background-color: #252525;
    transition: 300ms all ease;
}

body {
    transition: 300ms all ease;
}

.searchInput.night {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.createNoteBtn {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #6C63FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.createNoteBtn img {
    width: 80%;
}

.checkedNote {
    border: 2px solid #6C63FF;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    background-color: transparent;
}

.checkedNote.checked {
    background-color: #6C63FF;
}

.noteItem {
    background-color: transparent;
    border: none;
    font-family: "kanit";
    font-weight: 500;
    font-size: 20px;
    color: #252525;
}

.notesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    padding-top: 50px;
    gap: 20px;
}

.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #6C63FF;
    padding-bottom: 20px;
}

.noteLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.renameNote {
    background: transparent;
    border: none;
    cursor: pointer;
}

.deleteNote {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.renamesBox {
    display: none;
    align-items: center;
    gap: 10px;
}

.renamesBox.active {
    display: flex;
}

.noteColumnBox {
    display: flex;
    flex-direction: column;
}

.noteText {
    background-color: transparent;
    border: none;
    font-family: "kanit";
    font-weight: 500;
    font-size: 13px;
    color: #7e7c7c;
}